{% extends 'base.html.twig' %}

{% trans_default_domain 'material' %}
{% set title = material.name %}

{% block body %}
    {% include '_breadcrumb.html.twig' with {
        'item': material,
        'type': 'material'
    } %}

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        <i class="bi bi-info-circle"></i> {{ 'material.show.main_info'|trans }}
                    </h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">{{ 'material.show.name_label'|trans }}</dt>
                        <dd class="col-sm-9">{{ material.name }}</dd>

                        <dt class="col-sm-3">{{ 'material.show.quantity_label'|trans }}</dt>
                        <dd class="col-sm-9">
                            <span class="badge bg-primary fs-6">{{ material.quantity }}</span>
                        </dd>

                        <dt class="col-sm-3">{{ 'material.show.location_label'|trans }}</dt>
                        <dd class="col-sm-9">
                            {% if material.location %}
                                <a href="{{ path('app_location_show', {'id': material.location.id}) }}">
                                    {{ material.location }}
                                </a>
                            {% else %}
                                <span class="text-muted">{{ 'material.not_location'|trans }}</span>
                            {% endif %}
                        </dd>

                        <dt class="col-sm-3">{{ 'material.show.date_added_label'|trans }}</dt>
                        <dd class="col-sm-9">{{ material.createdAt|date('d.m.Y H:i') }}</dd>

                        <dt class="col-sm-3">{{ 'material.show.last_update_label'|trans }}</dt>
                        <dd class="col-sm-9">{{ material.updatedAt|date('d.m.Y H:i') }}</dd>
                    </dl>

                    {% if material.description %}
                        <hr>
                        <h6>{{ 'material.show.description_label'|trans }}</h6>
                        <p class="card-text">{{ material.description|nl2br }}</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <div class="btn-group">
                        <a href="{{ path('app_material_edit', {'id': material.id}) }}"
                           class="btn btn-primary">
                            <i class="bi bi-pencil"></i> {{ 'common.actions.edit'|trans(domain: 'messages') }}
                        </a>
                        <button type="button"
                                class="btn btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal">
                            <i class="bi bi-trash"></i> {{ 'common.actions.delete'|trans(domain: 'messages') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'modal/_delete.html.twig' with {
    'message': 'material.delete.confirm'|trans,
    'path': path('app_material_delete', {'id': material.id}),
    'token': csrf_token('delete' ~ material.id)
} %}
{% endblock %}
