{% trans_default_domain 'inventory' %}

<!-- Фильтры по категориям -->
<div class="row mb-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">{{ 'filter.title'|trans(domain: 'messages') }}:</h6>
                <div role="group">
                    <a href="{{ path('app_inventory_index') }}"
                        class="btn btn-sm {{ app.request.query.get('category') ? 'btn-outline-primary' : 'btn-primary' }}">
                        {{ 'common.all'|trans(domain: 'messages') }} ({{ coutnAll }})
                    </a>
                    {% for item in list %}
                        <a href="{{ path('app_inventory_index', {'category': item.category.value}) }}"
                            class="btn btn-sm {{ app.request.query.get('category') == item.category.value ? 'btn-' ~ item.category.color : 'btn-outline-' ~ item.category.color }}">
                            <i class="bi {{ item.category.icon }}"></i>
                            {{ item.category|trans }} ({{ item.count }})
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
