<ul class="nav flex-column">
    <li class="nav-item mb-2">
        <a href="{{ path('app_inventory_new') }}" class="btn btn-success w-100">
            <i class="bi bi-plus-circle"></i> {{ 'common.actions.inventory_new'|trans }}
        </a>
    </li>
    <li class="nav-item mb-2">
        <a href="{{ path('app_location_new') }}" class="btn btn-outline-primary w-100">
            <i class="bi bi-geo-alt"></i> {{ 'common.actions.location_new'|trans }}
        </a>
    </li>
    <li class="nav-item mb-2">
        <a href="{{ path('app_material_new') }}" class="btn btn-outline-info w-100">
            <i class="bi bi-boxes"></i> {{ 'common.actions.material_new'|trans }}
        </a>
    </li>
</ul>
