<h6 class="px-3">{{ 'static.title'|trans }}</h6>
<div class="px-3">
    <small class="text-muted">
        {{ 'static.inventorys'|trans }}: {{ stats.items_count }}<br>
        {{ 'static.locations'|trans }}: {{ stats.movements_count }}
    </small>
</div>
